<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--以下页面不会被拦截-->
    <http pattern="/login.html" security="none"></http>
    <http pattern="/css/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>

    <!--页面拦截规则-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html" always-use-default-target="true"/>
        <!--关闭csrf验证-->
        <csrf disabled="true"/>
        <headers>
            <!--默认是DENY  SAMEORIGIN同源 ALLOW-FROM-->
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout logout-success-url="/login.html"/>
    </http>
    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="zhe" password="123456" authorities="ROLE_ADMIN"/>
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>